<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [1]:
#contoh comparison tipe data string
print('Ayam'=='Sapi')
#contoh comparison tipe data boolean
x = 5
y = 6
print(x ==y) #False
print(x <y) #True
print(x>y) #False
print(x!=y) #True

#contoh comparison tipe data integer
print(50>=50)

False
False
True
False
True
True



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [2]:
x = 3; y = 9
# Comparison AND
print(x<y and x>y)

# Comparison OR
print(x<y and x>y)

# Comparison NOT
print(not(x==y))

False
False
True



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [7]:
#code here
grade = str(input('Grade = ')) # A
price = int(input('Harga = ')) # 150000

if grade == 'A' and price > 100000:
    print('High')
elif grade == 'A' and price > 50000:
    print('Medium')
elif grade == 'A' and price <= 50000:
    print('Low')

High



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [8]:
# Buat fungsi
def aneh(x):
  if x%2!=0:
    return 'Aneh'
  elif x%2==0 and x>=2 and x<=5:
    return 'Tidak Aneh'
  elif x%2==0 and x>=6 and x<=20:
    return 'Aneh'
  elif x%2==0 and x>20:
    return 'Tidak Aneh'


aneh(5)

'Aneh'



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

1. Loop merupakan perulangan yang diketahui jumlah perulangan sedangkan while loop merupakan perulangan yang tidak diketahui jumlah perulangan hingga menemukan kondisi yang memenuhi syarat untuk berhenti

In [9]:
# jawaban contoh
# For Loop
ulang = 10

for i in range(ulang):
    print(f"Perulangan ke-{i}")

# While Loop
jawab = 'ya'
hitung = 0

while(jawab == 'ya'):
    hitung += 1
    jawab = input("Ulang lagi tidak? ")

print(f"Total perulagan: {hitung}")

Perulangan ke-0
Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9
Total perulagan: 1



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [12]:
a = 10

def fungsi_while(x):
    while x != 0:
      print(x)
      x-=1

fungsi_while(a)

10
9
8
7
6
5
4
3
2
1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [14]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [15]:
#code here
for key, val in data_siswa.items():
    if(str(val['nilai']))
    print( +val['capital'])

SyntaxError: expected ':' (Temp/ipykernel_1696/2474757176.py, line 3)

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [13]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for i, val in enumerate(obj_list):
    print (i*val)

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---